<div class="wrap">
    
    <div class="card">
        <img src="../../../assets/img/planet/sung.gif" alt="" style="width:100%;">
        <div class="container">
            <h4>Sun</h4>
            <a routerLink="sun">Know More</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/planet/moong.gif" alt="" style="width: 100%;">
        <div class="container">
            <h4>Moon</h4>
            <a href="">Know More</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/planet/mercuryg.gif" alt="" style="width: 100%;">
        <div class="container">
            <h4>Mercury</h4>
            <a href="">Know More</a>
        </div>
        </div>
        <div class="card">
        <img src="../../../assets/img/planet/venusg.webp" alt="" style="width: 100%;">
            <div class="container">
                <h4>Venus</h4>
                <a href="">Know More</a>
            </div>
            </div>
            <div class="card">
                <img src="../../../assets/img/planet/earthg.gif" alt="" style="width: 100%;">
                <div class="container">
                    <h4>Earth</h4>
                    <a href="">Know More</a>
                </div>
                
    </div>
    <div class="card">
        <img src="../../../assets/img/planet/marsg.gif" alt="" style="width: 100%;">
        <div class="container">
            <h4>Mars</h4>
            <a href="">Know More</a>
        </div>
        </div>
        <div class="card">
            <img src="../../../assets/img/planet/jupiterg.gif" alt="" style="width: 100%;">
            <div class="container">
                <h4>Jupiter</h4>
                <a href="">Know More</a>
            </div>
            </div>
            <div class="card">
                <img src="../../../assets/img/planet/sg.gif" alt="" style="width: 100%;">
                <div class="container">
                    <h4>Saturn</h4>
                    <a href="">Know More</a>
                </div>
                </div>
                <div class="card">
                    <img src="../../../assets/img/planet/ug.gif" alt="" style="width: 100%;">
                    <div class="container">
                        <h4>Urenus</h4>
                        <a href="">Know More</a>
                    </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/img/planet/nepg.gif" alt="" style="width: 100%;">
                        <div class="container">
                            <h4>Neptune</h4>
                            <a href="">Know More</a>
                        </div>
                        </div>
                        <div class="card">
                            <img src="../../../assets/img/planet/plg.gif" alt="" style="width: 100%;">
                            <div class="container">
                                <h4>Pluto</h4>
                                <a href="">Know More</a>
                            </div>
                    </div>
    <div class="card">
       +
        <div class="container">
            <h4>+</h4>
            <a><button>add</button></a>
        </div>
</div>
</div>
<div><hr style="width: 100%;"></div>
<router-outlet>
</router-outlet>
