<section class="baner">
  
  <marquee behavior="" direction="up" style="font-size: 50px; color: white;width: 50%; height: 500px; justify-content: center;padding-left: 100px;">
    <h5 style="padding-left: 200px;">About</h5><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, animi! Dolor obcaecati optio ex neque veniam quia aliquam doloremque. Eum excepturi dolor autem sunt facere delectus labore officia ut magnam.
    <br>
   <h2 style="color: red; font-size: 50px; display: flex;padding-top: 30px;"> WORK IN PROGRESS </h2>
</marquee>
    
</section>