<div class="wrap">
    
    <div class="card">
        <img src="../../../assets/img/rocket/stg.gif" alt="" style="width:100%;">
        <div class="container">
            <h4>Starship</h4>
            <a routerLink="ss">Know More</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/rocket/stg2.gif" alt="" style="width: 100%;">
        <div class="container">
            <h4>Energie</h4>
            <a href="">Know More</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/rocket/ssg.gif" alt="" style="width: 100%;">
        <div class="container">
            <h4>Space shuttle</h4>
            <a href="">Know More</a>
        </div>
        </div>
        <div class="card">
        <img src="../../../assets/img/rocket/ag.gif" alt="" style="width: 100%;">
            <div class="container">
                <h4>ariane 5</h4>
                <a href="">Know More</a>
            </div>
            </div>
            <div class="card">
                <img src="../../../assets/img/rocket/a6g.gif" alt="" style="width: 100%;">
                <div class="container">
                    <h4>ariane 6</h4>
                    <a href="">Know More</a>
                </div>
                
    </div>
    <div class="card">
        <img src="../../../assets/img/rocket/a.png" alt="" style="width: 100%;">
        <div class="container">
            <h4>ariane</h4>
            <a href="">Know More</a>
        </div>
        </div>
        <div class="card">
            <img src="../../../assets/img/rocket/a6.png" alt="" style="width: 100%;">
            <div class="container">
                <h4>ariane 9</h4>
                <a href="">Know More</a>
            </div>
            </div>
            <div class="card">
                <img src="../../../assets/img/rocket/ss.jpg" alt="" style="width: 100%;">
                <div class="container">
                    <h4>Space shuttle 2</h4>
                    <a href="">Know More</a>
                </div>
                </div>
                <div class="card">
                    <img src="../../../assets/img/rocket/st.jpg" alt="" style="width: 100%;">
                    <div class="container">
                        <h4>starship2</h4>
                        <a href="">Know More</a>
                    </div>
                    </div>
                  
                     
    <div class="card">
       +
        <div class="container">
            <h4>+</h4>
            <a><button>add</button></a>
        </div>

</div>

</div>
<div><hr style="width: 100%;"></div>
    <router-outlet></router-outlet>
