<header>
<h2>2THEspace</h2>
<ul>
<li>
<a routerLink="">Home</a>
</li>
<li>
  <a routerLink="explore">Explore</a>
</li>
<li>
  <a routerLink="about">About</a>
</li>
<li>
  <a routerLink="con">Contact us</a>
</li>
</ul>
</header>




<router-outlet></router-outlet>



<footer>
  <div class="sec">
    <h2>Important</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit tempora ducimus dolore laboriosam explicabo odit deleniti reiciendis, provident eveniet, amet nostrum. Laboriosam officiis quibusdam quia velit tempore. Quas, nisi omnis.</p>
  </div>
  <div class="sec">
    <h2>Navbar link</h2>
    <ul>
      <li>
      <a routerLink="">Home</a>
      </li>
      <li>
        <a routerLink="explore">Explore</a>
      </li>
      <li>
        <a routerLink="about">About</a>
      </li>
      <li>
        <a routerLink="con">Contact us</a>
      </li>
      </ul>
  </div>
  <div class="sec">
    <h2>Contact Us</h2>
    <ul>
      <li>abk@gmail.com</li>
      <li>+9100000000</li>
      <li>At post earth,solar system</li>
  
    </ul>
  </div>
</footer>